#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: #A42212;
}

header{
    background-color: #c3c860;
}

nav a:hover{
    background-color: #396E94;
}

.book, .join{
    background-color: #396E94;
}

.book:hover, .join:hover{
    background-color: #396E94;
}

#background{
    background-color: #c3c860;
}

.msg{
    background-color: #396E94;
}

footer{
    background-color: #c3c860;
}