#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    background-color: #396E94;
    color: black;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: white;
}

header{
    background-color: #396E94;
}

nav a:hover{
    background-color: #396E94;
    color: black;
}

.book, .join{
    background-color: #396E94;
    color: black;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #396E94;
    color: black;
}

#background{
    background-color: #396E94;
}

.msg{
    background-color: #396E94;
}

footer{
    background-color: #396E94;
    color: black;
}

.home-title{
    background-color: #396E94;
    color: black;
}

h4{
    background-color: #396E94;
    color: black;
}

.msg h2{
    background-color: #396E94;
    color: black;
}

.msg p{
    background-color: #396E94;
    color: black;
}

footer a{
    background-color: #396E94;
    color: black;
    text-decoration: none;
}

footer a:hover{
    background-color: #396E94;
    color: black;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
}

#hero-img{
    width: 100%;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}