<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Pattberg | WDD130 | About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/aboutme.css') }}">
</head>

<body>
    <header>
        <nav>
            <a id="header-logo" href="{{ url_for('home') }}">
                <img class="logo" src="{{ url_for('static', filename='images/adam-logo-square.jpg') }}" alt="Adam Initial">
            </a>
            <a href="{{ url_for('white_water_rafting') }}">White Water Rafting Webpage</a>
            <a href="{{ url_for('site_plan_rafting') }}">White Water Rafting Webpage Siteplan</a>
            <a href="{{ url_for('ice') }}">ICE</a>
            <a href="{{ url_for('about') }}">About Me</a>
        </nav>
    </header>

    <main>
        
        <div id="about">
            <section id="about-msg">
                <h1 class="about-title">Adam Pattberg</h1>
                <p>My name is Adam Pattberg and I am 21 years old. I am from Minnesota, but currently pursuing a Bachelors of Advaced Vehicle Systems at Brigham Young University - Idaho. I like anything with an engine and understanding how and why it works. I love exploring natural phenomemons, learning about history, and learning new things. I used to work in my high schools technical theater department and worked as an EMT. My goal career is in vehicle testing and validation.</p>
            </section>
                <img id="about-img" src="{{ url_for('static', filename='images/personal-photo.jpeg') }}" alt="Adam Portrait Photo">
            <div id="job">
                <h2>Job Experience</h2>
                <p>I have job experience dating back to 2022. I worked at my high school as a Student Technician in the theater department. I earned my EMT certification while in high school, so I worked as an Emergancy Medical Technician (EMT) for about a year. I then got a job as a Shop Hand at Trinity Automotive. This was my introduction to the automotive industry and had a great experience. During college, I have worked in two seperate dealerships during my summer break. The first one was at White Bear Acura as a Light Duty Technician. The year after I was at Coon Rapids Hyundai as a Lube Technician.</p>
            </div>
        </div>


        <div id="content">

        <section id="PTA">
            <h2>Vehicles</h2>
            <img class="box-content" src="{{ url_for('static', filename='images/FZR-nature.jpg') }}" alt="2nd Place Award in OEC Competition">
            <p>I love anything with an engine in it. Cars are the easiest expression of this, but I also love planes, helicopters, motorcycles, jetskis, boats, etc. I had the privilege of flying a Cessna 172 skyhawk several years ago, which was an amazing experience. It is on my bucket list to fly a helicopter one day. </p>
        </section>

        <section id="TF">
            <h2>Theater & Film</h2>
            <img class="box-content" src="{{ url_for('static', filename='images/tech-crew.jpg') }}" alt="BYUI SAE Logo">
            <p>I was a part of my middle and high schools theater program, but only on the technical side. Through the countless hours I spent there, I learned many different skills and experiences. One thing I learned was how to appreciate the art of theater and film. I have since come to love movies and shows. There are many films are on my list that I have not seen yet, and unfortunately, the list gets longer every day.</p>
        </section>

        <section id="NB">
            <h2>Natures Beauty</h2>
            <img class="box-content" src="{{ url_for('static', filename='images/rainbow.jpg') }}" alt="CAN BUS Data">
            <p>During my time in Boy Scouts, I came to love the outdoors. I love to learn about and experience the many natural wonders of the world. I love understanding how these features formed. For example, there is a national preserve called Craters of the Moon. This is an area in Idaho that had lava flow across it that then melted into the ground, creating some amazing caves and tunnel systems.  </p>
        </section>

        </div>

    </main>
    <footer>
        <a id="header-logo" href="{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static', filename='images/adam-logo-square.jpg') }}" alt="Adam Initial">
        </a>
        <p>&copy; 2025 Adam Pattberg</p>
    </footer>
</body>

</html>