<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Pattberg | WDD130 | ICE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ice.css') }}">
</head>

<body>
    <header>
        <nav>
            <a id="header-logo" href="{{ url_for('home') }}">
                <img class="logo" src="{{ url_for('static', filename='images/adam-logo-square.jpg') }}" alt="Adam Initial">
            </a>
            <a href="{{ url_for('white_water_rafting') }}">White Water Rafting Webpage</a>
            <a href="{{ url_for('site_plan_rafting') }}">White Water Rafting Webpage Siteplan</a>
            <a href="{{ url_for('ice') }}">ICE</a>
            <a href="{{ url_for('about') }}">About Me</a>
        </nav>
    </header>
    <main>
        <section id="content">
            <a target="_blank" id="prophet-card" href="{{ url_for('prophet_card') }}">
                <h2>Prophet Card</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/ProphetCard_wireframe.png') }}" alt="Prophet Card Website Wireframe">
                <p>This In Class Exercise (ICE) focused on several aspects, but the main one was creation and layout of the list.</p>
            </a>

            <a target="_blank" id="apostle-spotlight" href="{{ url_for('apostle_spotlight') }}">
                <h2>Apostle Spotlight</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/ApostleSpotlight_Design.png') }}" alt="Apostle Spotlight Website Wireframe">
                <p>This In Class Exercise (ICE) focused on utilizing the display: grid; function and getting the layout correct.</p>
            </a>

            <a target="_blank" id="favorite-devo" href="{{ url_for('favorite_devo') }}">
                <h2>Favorite Devotional</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/icenter.png') }}" alt="BYU Idaho Center">
                <p>This In Class Exercise (ICE) focused on making tables and forms that users can interact with.</p>
            </a>

            <a target="_blank" id="holiday-page" href="{{ url_for('valentines') }}">
                <h2>Holiday Page</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/valentines.png') }}" alt="Valentines Image">
                <p>This In Class Exercise (ICE) was intended for students to have artistic liberty to design the page however they wanted with only CSS.</p>
            </a>

            <a target="_blank" id="grid-flags" href="{{ url_for('grid_flags') }}">
                <h2>Flag Page</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/flag-grid.png') }}" alt="Flags Page Image">
                <p>This In Class Exercise (ICE) was designed to expand the students skills with grid. We were only allowed to change the CSS of the file to create the flags.</p>
            </a>

            <a target="_blank" id="positioning" href="{{ url_for('positioning') }}">
                <h2>Positioning Styles</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/example6.png') }}" alt="Position Page Image">
                <p>This In Class Exercise (ICE) was created for students to practice their grid skills along with learning how z-index and floats work.</p>
            </a>

            <a target="_blank" id="gallery" href="{{ url_for('gallery') }}">
                <h2>Gallery</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/img2.jpg') }}" alt="Gallery Page Image">
                <p>This In Class Exercise (ICE) was designed to teach students how to optimize webpage images. This includes resizing them and cahnging them from png to jpg.</p>
            </a>

            <a target="_blank" id="signup" href="{{ url_for('signup') }}">
                <h2>Sign Up</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/jesus_feeds_5000.jpeg') }}" alt="Sign Up page image">
                <p>This In Class Exercise (ICE) was created to introduce the class to the code that goes into the creation and support of form submissions.</p>
            </a>

            <a target="_blank" id="client-report" href="{{ url_for('client_report') }}">
                <h2>Client Report</h2>
                <img class="box-content" src="{{ url_for('static', filename='images/Grand-Tetons.jpeg') }}" alt="Client Report page image">
                <p>This is a report of the class project we did, which included being a client, lead developer, and junior developer for three different websites.</p>
            </a>
            
            <!--Add new ICE assignments here-->

        </section>
    </main>
    <footer>
        <a id="header-logo" href="{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static', filename='images/adam-logo-square.jpg') }}" alt="Adam Initial">
        </a>
        <p>&copy; 2025 Adam Pattberg</p>
    </footer>
</body>

</html>