/* Colors needed #98c1d9, #6969b3, #553a7b, #4b244a, #25171a
Fonts needed are Arial, Helvetica, and Sans-Serif*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 95%;
    margin: 0 auto;
    background-color: #553a7b;
    font-size: 20px;
    max-height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: auto;
    height: auto;
    display: block;
}

nav{
    border: 3px solid #4b244a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px 35px 35px;
    justify-items: center;
    background-color: #98c1d9;
    padding: 1em;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -20px;
}

nav a{
    color: #25171a;
    text-decoration: none;
    text-align: center;
    grid-row: 2/3;
    margin-top: -10px;
}

nav a:hover{
    color: #6969b3;
    transform: scale(1.1);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}


#content{
    grid-column: 2/3;
    gap: 5px
}

#about{
    display: grid;
    text-align: center;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/2;
}

#about-box{
    z-index: -1;
}

#about-img{
    width: 100%;
    margin-top: -470px;
    z-index: -1;
    border: 3px solid #4b244a;
}

#about-msg{
    grid-row: 1/2;
    color: #25171a;
    background-color: #CC7178;
    max-height: 345px;
    border: 3px solid #4b244a;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

#PTA{
    background-color: #CC7178;
    border: 3px solid #4b244a;
    box-shadow: 5px 5px 10px #6f7364;
    float: left;
}

#TF{
    background-color: #CC7178;
    border: 3px solid #4b244a;
    box-shadow: 5px 5px 10px #6f7364;
    text-align: center;
    justify-items: center;
}

#NB{
    background-color: #CC7178;
    border: 3px solid #4b244a;
    box-shadow: 5px 5px 10px #6f7364;
    text-align: center;
    justify-items: center;
}

#PTA:hover{
    opacity: 1;
    transform: scale(1.1);
}

#TF:hover{
    opacity: 1;
    transform: scale(1.1);
}

#NB:hover{
    opacity: 1;
    transform: scale(1.1);
}

.box-content{
    width: 325px;
    height: 250px;
}

h2{
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #98c1d9;
    color: #25171a;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #4b244a;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

footer a:hover{
    transform: scale(1.1);
}