<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Report</title>
</head>
<body>
    <h1>Client Report</h1>
    <p>When I was designing my site plan and wireframe for my webpage, I wanted it to be about something I cared about. This led me to the topic it is about which is natural landmarks and monuments. I was able to make sure my developers knew this even wihtout being versed in the topic through my site plan. This had all the photos and descriptions they needed for the site, so they could just focus on the html and css. The developers of my site did very well. They followed the wireframe I made and used colors appropriately, making the end product way better than I could've ever imagined. Next time I require developers for a site I will be willing to be more detailed with my instructions, site plan, and wireframe.</p>
    <a href="https://jacksonedwards-cse.github.io/wdd130-pattberg/">Client Site</a>

    <h1>Lead Developer Report</h1>
    <p>As the lead developer, it was my job to keep the creation of the site on track and communicate with both the junior developer and the client. Staying in constant communication was key, as it allowed the client to make corrections and suggestions to the site quickly and allowed me to hand out work to the junior developer to make the creation of the site go faster. We all communicated through email and text, allowing us to send files to each other and get ahold of each other quickly. I was able to publish the site through Github easily and share the link from github to the client, allowing them to check up on progess continually. </p>
    <a href="https://adampattberg.github.io/WDD130-Andelin/">Lead Developer Site</a>

    <h1>Junior Developer Report</h1>
    <p>As the junior developer, it was my role to carryout any tasks the lead developer needed of me and to create and style the child pages. To best do this, we communicated through Microsoft Teams, allowing the sending of messages and files. What was expected of me was well defined at the beginning of the project. Being able to assist the lead developer was a secondary but crucial role. If the lead developer was ever busy or behind, I was able to assist him and keep us on schedule. I ran into no issues with Github or VSCode during this project. </p>
    <a href="https://ethanblandamer.github.io/WDD130-Bahen/">Junior Developer Site</a>

    <h1>General Experience</h1>
    <p>The most cahllenging part of this project was communicating with others. Due to our busy lives and different priorities, it can be difficult staying in contact with each other. I was able to overcome this by talking to people in person while in class. I enjoyed seeing all the different ideas of what topics to create a website about and how to layout the website. I would be more adventerous with my wireframe and site plan next time I did this. Because of this project, I feel more confident in my ability of creating and formatting html and css. Being able to constantly exercise the skills of web design is crucial for getting proficient at it.</p>
</body>
</html>