/* Colors needed #98c1d9, #6969b3, #553a7b, #4b244a, #25171a
Fonts needed are Arial, Helvetica, and Sans-Serif*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #553a7b;
    font-size: 20px;
    max-height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

nav{
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: #98c1d9;
    padding: 1em;
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

nav a{
    color: black;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    color: #6969b3;
    transform: scale(1.1);
}


#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#prophet-card{
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#prophet-card:hover{
    opacity: 1;
    transform: scale(1.1);
    color: #6969b3;
}

#apostle-spotlight{
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#apostle-spotlight:hover{
    opacity: 1;
    transform: scale(1.1);
    color: #6969b3;
}

#favorite-devo{
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#favorite-devo:hover{
    opacity: 1;
    transform: scale(1.1);
    color: #6969b3;
}

#holiday-page{
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#holiday-page:hover{
    opacity: 1;
    transform: scale(1.1);
    color: #6969b3;
}

#grid-flags{
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

#grid-flags:hover{
    opacity: 1;
    transform: scale(1.1);
    color: #6969b3;
}

.box-content{
    width: 325px;
    height: 250px;
}

h2{
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    margin-top: 5px;
    background-color: #98c1d9;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: Arial, Helvetica, sans-serif;
}

footer a:hover{
    transform: scale(1.1);
}