body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

img{
    max-width: 800px;
    border: 4px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

h1{
    color: steelblue;
}

footer{
    background-color: steelblue;
    color: white;
    padding: 20px;
}